<launch>

    <include file="$(find robot_launch)/launch/amcl.launch" />


    <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(find robot_launch)/example/first.map.yaml"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find robot_launch)/example/roomba.rviz" />

</launch>